.contactItem {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: gray ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: space-between;
    justify-items: left;
    align-items:center;
}

a {
    width: 33%;
}

.contactItemPicture {
    width: 75%;
    border-radius: 80%;
}

.contactItemInfo {
    justify-self: start;
}