.contactItem {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: purple;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contactItemPicture {
    width: 15%;
}

.contactItemInfo {
    float: right;
}