.ContactFormPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ContactForm {
    display: flex;
    flex-direction: column;
}

.ProfilePicture {
    width: 20%;
    cursor: pointer;
}